/* ---- green button - #4EBBB5 ---- */
/* ---- input areas - #EFF0F1 ---- */
/* ---- top header - #2D3945 ---- */

/* ---- Page Styling ---- */

* {
	box-sizing: border-box;
}

#container {
	width: 98%;
	margin: 0 auto;
}

hr {
	width: 96%;
	border: solid 3px #2d3945;
	margin: 1px auto;
}

header {
	background: #2d3945;
	margin-top: 0;
	padding: .5em;
}

h1 {
	color: #fff;
	font-size: 2em;
	font-weight: 400;
	font-family: 'Rokkitt', serif;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: #2d3945;
	text-align: center;
	margin-top: 1.5em;
	font-size: 1.8em;
    margin-bottom: 0;
}

h2 + p {
	text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
}

div + p {
	border-bottom: 2px solid #2d3945;
}

.font {
	font-family: 'Rokkitt', serif;
	color: #b5b5b5;
	font-size: 1em;
}

#contact,
#newsletter {
	margin-top: 4px;
}

footer {
	margin: 0 auto;
	width:100%;
	text-align: center;
}

.copyright {
	font-style: italic;
}

/* ---- Form Styling ---- */

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="submit"],
select,
textarea {
	background: #eff0f1;
	border-radius: 5px;
	border: none;
	padding: 10px 15px;
	display: block;
	margin: 5px 0 .8em;
	width: 100%;
	font-family: 'Rokkitt', serif;
    transition: background-color 0.7s ease;
}

select {
	height: 38px;
}

fieldset {
	border: none;
}

.color {
    background-color: #fafafa;
    padding: 10px 10px 2px;
}

legend {
	color: #2d3945;
	font-size: 1.2em;
	font-weight: 700;
	padding-top: 2em;
	border-top: solid 2px #2d3945;
	width: 100%;
    margin-top: 1em;
}

input[placeholder="Required"] {
	direction: ltr;
}

input:focus,
select:focus,
textarea:focus {
	border: 1px solid #2D3945;
	text-align: left;
    background-color: floralwhite;
}

input[type="submit"] {
	background: #4EBBB5;
	color: white;
	width: 100%;
    margin-top: 15px;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
	width: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* ---- Media Queries ---- */

@media (min-width: 768px) {
	#container {
		width: 80%;
		margin: 0 auto;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select {
		display: inline-block;
		width: 75%;
		float: right;
	}

	textarea {
		width: 100%;
	}

	label{
		display: inline-block;
		width: 25%;
		margin-bottom: 48px;
		padding-top: 18px;
	}

	#other_topics {
		width: 100%;
	}

	label[for="other_topics"] {
		width: 100%;
		margin-bottom: 0;
	}

}